
/*header*/
.header {
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 60px;

  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000015;
  opacity: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.iconoUsuario {
  font-weight: bold;
  font-size: 20px;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 40px;

}

.iconoUsuario {
  width: 24px;
  height: 24px;
  border-radius: 50%; 
  
}
/*barra lateral*/
.menuLateral{
  position: absolute;
  width: 250px;
  height: 50px;
  opacity: 1;
  display: flex;
  align-items: center;
  padding-left: 20px;
  box-sizing: border-box;
  
}
.menuLateral-1estudiante{
 top: 60;
 background-color:#C8CCD0 ;
}
.menuLateral-2grupos{
  top: 110px;
  background-color: #C8CCD0;
}
.menuLateral-3materias{
  top:160px;
  background-color:#C8CCD0 ;
}
.menuLateral-4evaluaciones{
  top: 210;
  background-color:#C8CCD0 ;
}
.menuLateral-5informes{
  top: 260px; 
  background-color: #C8CCD0;
}
